body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #f4f4f9;
}

main {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    color: #4CAF50;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
}

/* Styling für Eingabefelder und Textarea */
textarea {
    width: 100%; 
    max-width: 600px; 
    height: 100px;
    font-size: 18px; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box; 
    background-color: #f9f9f9; 
}

/* Styling für das Textarea */
textarea {
    height: 300px; 
    resize: vertical; 
}

/* Styling for checklist */
#checklist {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#checklist input[type="text"] {
    flex: 1;
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}

#add-item {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#add-item:hover {
    background-color: #0056b3;
}
