<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum - EasyBuis Task Manager</title>
    <link rel="stylesheet" href="/static/impressum.css">
</head>
<body>
    <header>
        <h1>Impressum</h1>
    </header>
    <main>
        <p><strong>Angaben gemäß § 5 TMG:</strong></p>
        <p>
            EasyBuis solutions<br>
            Kufsteiner Straße 25 1<br>
            10825 Berlin<br>
        </p>
        <div class="info-container">
            <div class="info-block">
                <h3>Inhaber:</h3>
                <p>Magnus Kietzig</p>
                <p>Usman Ahmad</p>
            </div>
            <div class="info-block">
                <h3>Kontakt:</h3>
                <p>Telefon: +49 123 456 7890</p>
                <p>Email: info@easybuis.com</p>
            </div>
        </div>
        <p>
            <strong>Verantwortlich für den Inhalt nach § 18 MStV:</strong> <br>
            Magnus Kietzig, Usman Ahmad
        </p>
        <p>
        <strong>Urheberrecht und Widerspruch gegen Text- und Data Mining:</strong> <br>
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten können dem deutschen Urheberrecht unterliegen. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der gesetzlichen Schranken des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Urhebers oder Nutzungsrechtsinhabers. <br>
            <br>
            Die Nutzung der Inhalte der Website zu Zwecken des Text und Data Mining nach § 44b UrhG ist nicht gestattet.
        </p>
    </main>    
    <footer>
        <a href="/">Zurück zur Startseite</a>
    </footer>
</body>
</html>
