<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBuis Task Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <h1>EasyBuis Task Manager</h1>
        <!-- Nachricht für nicht angemeldete Benutzer -->
        <p style="color: red; font-weight: bold;">Sie müssen angemeldet sein, um den Task Manager zu nutzen.</p>
        <div class="auth-links">
            <a href="/login">Hier anmelden</a> oder
            <a href="/registrierung">Hier registrieren</a>
         </div>
    </div>
</body>

</html>