<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBuis registrierung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Registrierung</h1>
        <form method="POST">

        <div class="input-group">
    <label for="email">E-Mail:</label>
    <input type="email" name="email" required>
        </div>
    
        <div class="input-group">
    <label for="password">Passwort:</label>
    <input type="password" name="password" required>
        </div>

        <div class="checkbox-group">
    <input type="checkbox" id="accept" name="accept" required>
    <label for="accept">Ich stimme den Nutzungsbedingungen zu</label>
        </div>

    <button type="submit">Registrieren</button>

    <br>
    <a href="/login">Schon ein Account?</a>

    </form>
    </div>
</body>
</html>
