<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/static/task_manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap CSS über Cloudflare -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Bootstrap JavaScript über Cloudflare -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <!-- Flash Mitteilungen anzeigen lassen -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}

        <div class="container mt-3">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
        <h1>Task Manager</h1>

        <div class="nav-links">
            <a href="/abmelden" class="btn-link logout"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
            <a href="/admin_dashboard" class="btn-link"><i class="fas fa-columns"></i> Admin-Dashboard</a>
            <a href="/kanban_board" class="btn-link"><i class="fas fa-columns"></i> Kanban Board</a>
        </div>

        <form action="/task_manager/add_task" method="POST" class="task-form">
            <label for="title">Task Title</label>
            <input type="text" id="title" name="title" placeholder="Enter task title" required> 

            <label for="description">Task Description</label>
            <textarea id="description" name="description" placeholder="Enter task description"></textarea>

            <button type="submit"><i class="fas fa-plus"></i> Add Task</button>
        </form>

        <h2>Task List</h2>
        <ul class="task-list">
            {% for task in tasks %}
                <li>
                    <div class="task-details">
                        <h3>{{ task['title'] }}</h3>
                        <p>{{ task['description'] }}</p>
                    </div>
                    <div class="actions">
                        <a href="/task_manager/edit_task/{{ task['id'] }}" class="edit-btn"><i class="fas fa-edit"></i> Edit</a>
                        <form action="/task_manager/delete_task/{{ task['id'] }}" method="POST">
                            <button type="submit" class="delete-btn"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
