<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über Uns - EasyBuis Task Manager</title>
    <link rel="stylesheet" href="/static/ueber-uns.css">
</head>
<body>
    <header>
        <h1>Über Uns</h1>
    </header>
    <main>
        <p><strong>Willkommen beim EasyBuis - Task Manager!</strong> <br> <br>
            Wir sind ein Team, das sich darauf spezialisiert hat, einfache und effiziente Lösungen für die Organisation von Aufgaben bereitzustellen.
            Wir bieten personalisierte Anwendungen um Arbeitsprozesse und Aufgaben innerhalb Ihres Unternehmens zu Organisieren und zu verwalten. <br>
            <br>
            <a href="/registrierung">Registrieren</a> Sie sich noch heute und Testen Sie unsere Standard Version des Task Managers, bei dem Sie Aufgaben, erstellen, bearbeiten und verwalten können !!! <br>
        </p>
        <p>
            Falls Sie Interesse daran haben, eine maßgeschneiderte Anwendung für Ihre Projekte zu erwerben. Füllen Sie doch gerne unseren Kontaktbogen <a href="/kontakt">Hier</a> aus. 
        </p>

    </main>
    <footer>
        <a href="/">Zurück zur Startseite</a>
    </footer>
</body>
</html>
